<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>
<p>Hello World!</p>
</body>
</html>
<!-- 
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Hello World Thymeleaf!!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
 -->
 
 
 <!-- 
 
 <body>
<table>
 <tr th:each="obj : ${object}">
      <td th:text="${obj.id"></td>
      <td th:text="${obj.title}"></td>
      <td th:text="${obj.date}"></td>
      <td th:text="${obj.creditline"></td>
      <td th:text="${obj.description}"></td>
      <td th:text="${obj.gallery_text}"></td>
</tr>
</table>
</body>
</html>

 -->